body{
  max-width: 800px;
  text-align: center;
  margin: auto;
}

.jumbotron{
  padding: 0;
  background-color: white;
}

.navbar{
  background: none !important;
  font-family: 'Noto Serif KR', serif;
  text-transform: uppercase;
  font-weight: lighter;
  letter-spacing: 1px;
  float: right;
  font-size: 10px;
}


h1 {
  color:black;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: 'Noto Serif KR', serif;
  float: left;
  content: "|";
  font-weight: lighter;
}

h2{
  font-family: 'Playfair Display', serif;
  font-weight: lighter;
  letter-spacing: 1px;
  text-align: left;
  padding-left: 10px;
  color: black;
  font-size: 20px;
  padding-top: 80px;
}

.highlight-this{
  color: white;
  background-color: #46474a;
  text-align: center;
  margin: auto;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;

}
h3{
  font-family: 'Playfair Display', serif;
  font-weight: lighter;
  letter-spacing: 1px;
  font-size: 12px;
  text-align: left;
  padding-left: 10px;
}
h4{
  font-family: 'Playfair Display', serif;
  font-weight: lighter;
  letter-spacing: 1px;
  font-size: 15px;
  text-align: left;
}
h5{
  font-style: italic;
  font-size: 15px;
}

h6{
  text-align: left;
  font-style: italic;
  font-family: 'Playfair Display', serif;
  font-weight: lighter;
  letter-spacing: 1px;
  font-size: 10px;
}

p{
  font-family: 'Playfair Display', serif;
  text-align: left;
  font-weight: lighter;
  letter-spacing: 1px;
  font-size: 12px;
}


li{
  font-family: 'Playfair Display', serif;
  font-weight: lighter;
  letter-spacing: 1px;
  font-size: 12px;
  text-align: left;
  padding-bottom: 20px;
  list-style-type: circle;
  padding-right:
}

img{
  float: center;
}

.hr{
  border: 5px black;
}

.footer-content{
  font-family: 'Playfair Display', serif;
  text-transform: uppercase;
  font-weight: lighter;
  letter-spacing: 1px;
  font-size: 5px;
  text-align: center;
  color: grey;
}

.vl-1 {
  border-right: 1px solid black;
  height: 50px;
}

.vl-2{
  border-right: 1px solid black;
  height: 30px;
}

.display-4{
  font-size: 30px;
  font-weight: bolder;
}
