body{
  max-width: 800px;
  text-align: center;
  margin: auto;
}
.center-top-content{
  border-bottom: 1px solid grey;
  text-align: center;
  max-width: 500px;
  margin-top: 0;
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
}

.personal-title{
  font-weight: bold;
  color: grey;
  font-style: italic;
}


h2{
  color: black;
  font-family: 'Noto Serif KR', serif;
  font-size: 20px;
  padding-top: 80px;
  text-align: left;
  text-decoration-line: line-through;
  text-decoration-color: #4290f5;
  padding-left: 10px;
}

h3{
  font-family: 'Noto Serif KR', serif;
  font-size: 15px;
  text-align: left;
  font-weight: lighter;
  padding-left: 10px;
}

h5{
  font-style: italic;
  font-size: 15px;
}


#nav-links{
  max-width: 500px;
  margin: 0 auto 20px;
  padding-left: 0
}

#nav-links li{
  display: inline-block;
}

#nav-links> li:not(:Last-child) ::after{
  content: "|";
  margin:0 .25em;
}


.main-content{
  margin: 0 auto;
}

.introduction{
  line-height: 1.8;
  overflow: auto;
}

.introduction img{
  float: right;
  width:  100%;
  margin-left: 20px;
  margin-top: 16px;
  margin-bottom: 20px;
}

.highlight {
  background-color: #ffe6f2;
  padding: 3px 5px;
  color: white;
}

.container-expereince h2,.container-expereince h3, .container-expereince h4, .container-expereince h5{
  margin-top: 5px;
  margin-bottom: 5px;
  overflow: auto;
}

.container-expereince p{
  font-size: 14px;
}

h1 {
  color:black;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: 'Noto Serif KR', serif;
  float: left;
  content: "|";
}

.jumbotron{
  padding: 0;
  background-color: white;
}

.navbar{
  background: none !important;
  font-family: 'Noto Serif KR', serif;
  text-transform: uppercase;
  font-weight: lighter;
  letter-spacing: 1px;
  float: right;
  font-size: 10px;
}

.hr{
  border: 5px black;
}

.display-4{
  font-size: 30px;
  font-weight: bolder;
}

.vl {
  border-right: 1px solid black;
  height: 50px;
